<ion-toolbar id="top-toolbar" color="secondary">
   <ion-buttons>


<button  (click)="changeColor('#22A7F0')" ion-button>

<ion-icon name="brush" color="primary"></ion-icon>
</button>

<button (click)="changeColor('#C91F37')" ion-button>

<ion-icon name="brush" color="danger"></ion-icon>
</button>

<button (click)="changeColor('#000000')" ion-button>

<ion-icon name="brush" color="dark"></ion-icon>
</button>


   <button (click)="changeColor('#fff')" ion-button>
   <ion-icon name="brush" color="white"></ion-icon>
   </button>
 <button (click)="newPage()"ion-button>
  <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
   </button>
   </ion-buttons>




</ion-toolbar>
<canvas #myCanvas (mousedown)="handleStartNote($event)" (mousemove)="handleMoveNote($event)" (mouseup)="handleEndNote($event)"></canvas>

